.navibar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: $josefin;
  @include transition(height 0.4s, background-color 0.4s, border 0.4s);
  @include transform(translateZ(0));

  .navibar-item {
    padding: 15px;

    a {
      text-decoration: none;
      color: $p2c1;
      font-size: 1.2em;
      @include transition(color 0.4s, font-size 0.4s);
      &:hover {
        color: $p2c2;
      }
    }
    .logo {
      width: 70px;
      padding: 7px;
      @include transition(width 0.4s, height 0.4s);
    }
  }

  .dropdown {
    a {
      text-decoration: none;
      color: $p2c1 !important;
      font-size: 1.2em !important;
      @include transition(color 0.4s, font-size 0.4s);
      &:hover {
        color: $p2c2 !important;
      }
      &:link {color:#ff0000;text-decoration:none;}
      &:visited {color:#0000ff;text-decoration:none;}
    }
    .dropdown-menu {
      background-color: rgba($p2c1, 0.1);
      border: 0;
      
      .dropdown-item {
        &:hover {
          background-color: rgba($p2c4, 0.1);
        }
      }
    }
  }
}
.navibar-small {
  height: 50px;
  background-color: $p2c2;
  @include box-shadow(0,2px,25px,-1px, rgba(0, 0, 0, 0.66));
  border: 3px solid $p2c1;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  .navibar-item {
    padding: 15px;

    a {
      text-decoration: none !important;
      color: $p2c5 !important;
      font-size: 1em !important;
      &:hover {
        color: $p2c4 !important;
      }
    }
    .logo {
      width: 45px;
      padding: 5px;
    }
  }
  .dropdown {
      .dropdown-menu {
      background-color: rgba($p2c1, 0.7);
      @include transition(background-color 0.4s);
    }
  }
}




