$breakpoints: (
  "desktop": 1200px,
  "sm": 992px,
  "tablet": 768px
);

$p1c1: #A87383;
$p1c2: #DE9B88;
$p1c3: #F2D794;
$p1c4: #DCEDB7;
$p1c5: #B6E8C2;

$p2c1: #3C0403;
$p2c2: #531604;
$p2c3: #B88F3F;
$p2c4: #C8A667;
$p2c5: #D8C197;

$p3c1: #382E22;
$p3c2: #43220D;
$p3c3: #895A34;
$p3c4: #B41B1B;
$p3c5: #FDFDD3;

@import 'https://fonts.googleapis.com/css?family=Josefin+Sans|Lato';

$lato: 'Lato', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
