/// typography styles

h1, h2, h3, h4, h5{
  font-family: $josefin;
  color: $p2c1;
}
p {
  font-family: $lato;
  color: $p2c2;
}
.c1 {
  color: $p2c5;
}
.c2 {
  color: $p2c4;
}
.c3 {
  color: $p2c3;
}
